<div class="relative">
    <img src="assets/img/header.jpeg" class="w-full h-60 lg:h-80 object-cover imgHeader" alt="Imagen header">  
    <div class="absolute top-2/3 left-1/4 -translate-y-1/2 rounded-xl flex items-center justify-start text-white text-base font-medium">
        <p class="text-2xl">Endulzamos tus momentos con pasteles únicos y llenos de sabor. ¡Descubre el placer en cada bocado!</p>
    </div> 
</div>

<div class="py-5 flex flex-col justify-around md:flex-row ">
    <div class="py-2 flex-col text-center hover:text-2xl">
        <mat-icon fontIcon="home" class="custom-icon"></mat-icon>
        <p>{{texto}}</p>
    </div>
    <div class="py-2 flex-col text-center hover:text-2xl">
        <mat-icon fontIcon="home" class="custom-icon"></mat-icon>
        <p>{{texto}}</p>
    </div>
    <div class="py-2 flex-col text-center hover:text-2xl">
        <mat-icon fontIcon="home" class="custom-icon"></mat-icon>
        <p>{{texto}}</p>
    </div>
</div>

