<div class="sm:p-0 sm:m-0 md:p-20 md:m-20 bg-white rounded-2xl shadow-2xl">
    <form action="">
        <h2 class="text-center text-2xl font-bold py-10 ">Dejanos tus datos nos pondremos en contacto contigo</h2>
        <div class="flex flex-col justify-center gap-5">
            <label for="nombre" class="font-bold uppercase">Nombre:</label>
            <input type="text" id="nombre" class="rounded border border-amber-900 w-auto p-2">
            <label for="edad" class="font-bold uppercase">Edad:</label>
            <input type="number" id="edad" class="rounded border border-amber-900 w-auto p-2">
            <label for="taller" class="font-bold uppercase">Taller de interes:</label>
            <input type="text" id="taller" class="rounded border border-amber-900 w-auto p-2">
            <label for="correo" class="uppercase font-bold">Correo:</label>
            <input type="text" class="rounded border border-amber-900 w-auto p-2">
        </div>
    </form>
    <div class="flex justify-center pt-10">
        <button class="cursor-pointer bg-pink-300 p-2 rounded-2xl text-white hover:bg-pink-800 uppercase">Enviar</button>
    </div>
</div>